Repository getto-systems/psycher: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, image_build, image_test, image_push, release, release_success, release_failure

test:
  stage: test
  before_script:
  - ./scripts/restore.sh
  script:
  - npm test

image_build:
  stage: image_build
  image: docker:stable
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
    DOCKER_CONTENT_TRUST: 1
  services:
  - docker:dind
  cache:
    key:
      files:
      - Dockerfile
    paths:
    - .build
  before_script:
  - mkdir -p .build
  - export image=image:$CI_COMMIT_SHORT_SHA
  ...

image_test:
  stage: image_test
  needs:
  - image_build
  cache:
    policy: pull
    key:
      files:
      - Dockerfile
    paths:
    - .build
  image: amazonlinux:2
  before_script:
  - yum install -y curl tar
  - curl $TRELLIS_HANGAR/install_trivy.sh | bash -s -- vendor
  - curl $TRELLIS_HANGAR/install_dockle.sh | bash -s -- vendor
  ...

image_push:
  stage: image_push
  image: docker:stable
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
    DOCKER_CONTENT_TRUST: 1
  before_script:
  - apk update && apk install git curl
  - export hangar_id=$(cat .getto-hangar-image | sed 's/.*://' | sed 's/-.*//')
  ...

release:
  stage: release
  before_script:
  - ./scripts/restore.sh
  script:
  - npm test
  - curl $TRELLIS_CI_BUMP_VERSION/push_tags.sh | bash
  - ./scripts/deploy.sh

release_success:
  stage: release_notify
  when: on_success
  image: buildpack-deps:buster-curl
  before_script:
  - export url=$GETTO_PSYCHER_URL?$GETTO_PSYCHER_TOKEN=true
  - export channel=$SLACK_CHANNEL
  - export version=slack:$(cat .release-version)
  script:
  ...

release_failure:
  stage: release_notify
  when: on_failure
  image: buildpack-deps:buster-curl
  before_script:
  - export url=$GETTO_PSYCHER_URL?$GETTO_PSYCHER_TOKEN=true
  - export channel=$SLACK_CHANNEL
  - export version=slack:$(cat .release-version)
  script:
  ...

fix: gitlab-ci
  .gitlab-ci.yml
  Dockerfile
Due: image_build, image_test, image_push

fix: gitlab-ci
  .gitlab-ci.yml
Due: none

fix: message.sh
  .message/bump.sh
  .message/fix-image.sh
  .message/fix-vulnerabilities.sh
  Dockerfile
Due: image_build, image_test, image_push

update: image
  .getto-hangar-image
  .gitlab-ci.yml
Due: none

version bumped: 2.9.6
  .release-version
  CHANGELOG.md
  package.json
Due: release, release_success, release_failure

remove: unused file
  .getto-hangar-trivy-disable
Due: none

version bumped: 2.9.7
  .release-version
  CHANGELOG.md
  package.json
Due: release, release_success, release_failure

fix: vulnerabilities
  Dockerfile
Due: image_build, image_test, image_push

version bumped: 2.9.8
  .release-version
  CHANGELOG.md
  package.json
Due: release, release_success, release_failure

version bumped: 2.9.9
  .release-version
  CHANGELOG.md
  package.json
Due: release, release_success, release_failure

fix: ref
  lib/infra/job_store.js
Due: test

fix: test
  test/infra/job_store.test.js
Due: test

fix: gitlab ci
  .gitlab-ci.yml
Due: none

version bumped: 2.10.0
  .release-version
  CHANGELOG.md
  package.json
Due: release, release_success, release_failure

Path conditions:
  test: any of: index.js, lib/**/*, test/**/*
  image_build: any of: package-lock.json, Dockerfile, Dockerfile-test
  image_test: any of: package-lock.json, Dockerfile, Dockerfile-test
  image_push: any of: package-lock.json, Dockerfile, Dockerfile-test
  release: any of: .release-version
  release_success: any of: .release-version
  release_failure: any of: .release-version
