Repository getto-systems/psycher: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, image_build, image_test, image_push, release, release_success, release_failure

Path conditions:
  test: any of: index.js, lib/**/*, test/**/*
  image_build: any of: package-lock.json, Dockerfile, Dockerfile-test
  image_test: any of: package-lock.json, Dockerfile, Dockerfile-test
  image_push: any of: package-lock.json, Dockerfile, Dockerfile-test
  release: any of: .release-version
  release_success: any of: .release-version
  release_failure: any of: .release-version

fix: gitlab ci
  .gitlab-ci.yml
Due: none

version bumped: 2.10.1
  .release-version
  CHANGELOG.md
  package.json
Due: release, release_success, release_failure

version bumped: 2.10.2
  .release-version
  CHANGELOG.md
  package.json
Due: release, release_success, release_failure

fix: vulnerabilities
  Dockerfile
Due: image_build, image_test, image_push

update: image
  .getto-hangar-image
  .gitlab-ci.yml
Due: none

version bumped: 2.10.3
  .release-version
  CHANGELOG.md
  package.json
Due: release, release_success, release_failure

version bumped: 2.10.4
  .release-version
  CHANGELOG.md
  package.json
Due: release, release_success, release_failure

version bumped: 2.10.5
  .release-version
  CHANGELOG.md
  package.json
Due: release, release_success, release_failure

version bumped: 2.10.6
  .release-version
  CHANGELOG.md
  package.json
Due: release, release_success, release_failure

version bumped: 2.10.7
  .release-version
  CHANGELOG.md
  package.json
Due: release, release_success, release_failure

version bumped: 2.10.8
  .release-version
  CHANGELOG.md
  package.json
Due: release, release_success, release_failure

fix: comman
  Dockerfile
Due: image_build, image_test, image_push

version bumped: 2.10.9
  .release-version
  CHANGELOG.md
  package.json
Due: release, release_success, release_failure

fix: release key
  lib/infra/job_store.js
Due: test

version bumped: 2.11.0
  .release-version
  CHANGELOG.md
  package.json
Due: release, release_success, release_failure

version bumped: 2.11.1
  .release-version
  CHANGELOG.md
  package.json
Due: release, release_success, release_failure

add: release key
  lib/infra/secret_store.js
Due: test

refactor: release key
  lib/infra/job_store.js
  lib/infra/secret_store.js
Due: test

refactor: release key
  lib/infra/job_store.js
Due: test

refactor: release key
  test/infra/secret_store.test.js
Due: test

version bumped: 2.12.0
  .release-version
  CHANGELOG.md
  package.json
Due: release, release_success, release_failure
